{% extends '../layouts/base.html' %}

{% block title %}{{title | upper}}{% endblock title %}

{% block content %}
    <div class="card w-50">
        <h3 class="card-title">{{ title }}</h3>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        {% if form_value.hierar_id.value %} 
                            {% for value in form_value %}
                                {{ value.label_tag }}
                                {{ value }}
                            {% endfor %}
                        {% else %}
                            {% for value in form_value %}
                                {{ value.label_tag}}
                                {{ value }} 
                            {% endfor %}
                        {% endif %}
                    </div>
            </form>
        </div>
    </div>
    
{% endblock content %}
