{% extends '../layouts/base.html' %}

{% block title %}{{title | upper}}{% endblock title %}

{% block content %}
<div class="container">
    <div class="content">
        <div class="card w-50 style_card">
            <div class="card-body">
                <h3 class="card-title style_title">{{ title }}</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    {% for sale in form_sale %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ sale.label_tag }}
                                {{ sale }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="style_button">
                        <button type="submit"><i class="bi bi-send-plus-fill" style="font-size: 1.2rem;"></i> {{ title }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}