{% extends '../layouts/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}


{% block head %}
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'librerias/DataTables/datatables.min.css' %}">
<script src="{% static 'librerias/DataTables/datatables.min.js' %}"></script>
{% endblock head %}


{% block content %}
<button type="button" class="btn btn-success btnAdd"><i class="bi bi-file-plus"></i> {{ title2 }}</button>
<div class="card">
    <div class="card-body">
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Icono</th>
                    <th>Superior</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for hierar in list_hierarchy %}
                <tr>
                    <td>{{ hierar.hierar_id }}</td>
                    <td>{{ hierar.hierar_name }}</td>
                    <td>{{ hierar.hierar_description }}</td>
                    <td>{{ hierar.hierar_icon }}</td>
                    <td>{{ hierar.hierar_sup }}</td>
                    <td>
                        <a href="{% url 'create-value-id' pk=hierar.hierar_id %}" title="Agregar({{hierar.hierar_name}})"><i class="bi bi-file-plus-fill text-dark" style="font-size: 20px;"></i></a>
                        <a href="{% url 'list-value-id' pk=hierar.hierar_id %}"
                            title="Lista de ({{hierar.hierar_name}})"><i class="bi bi-card-list text-dark" style="font-size: 20px;"></i></a>
                        <a href="{% url 'update-hierarchy' pk=hierar.hierar_id %}"
                            title="Editar({{hierar.hierar_name}})"><i class="bi bi-pencil-square text-dark" style="font-size: 20px;"></i></a>
                        <a href="#" title="Eliminar({{hierar.hierar_name}})"><i class="bi bi-trash-fill text-dark" style="font-size: 20px;"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'hierarchy/modal.html' %}
{% endblock content %}


{% block scripts %}
<script type="application/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable({
            responsive: true,
            dom: '<"top"lfB>rt<"bottom"ip><"clear">',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    text: '<i class="bi bi-file-pdf-fill"></i>',
                    className: 'btn-pdf'
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="bi bi-file-excel-fill"></i>',
                    className: 'btn-excel'
                },
                {
                    extend: 'copyHtml5',
                    text: '<i class="bi bi-copy"></i>',
                    className: 'btn-copy',
                }
            ],
            "language": {
                url: '{% static "librerias/Datatables/spanish.txt" %}'
            }
        });
        $('.btnAdd').on('click', function () {
            $('#addHierarModal').modal('show');
        });

        $('#addHierarchy').on('submit', function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    $('#addHierarModal').modal('hide');
                    // Actualiza la lista de productos o realiza alguna acción adicional 
                },
                error: function (response) {
                    // Maneja los errores 
                }
            });
        });

        $('.btnedit').on('click', function () {
            $('#editHierarModal').modal('show');
        });

        $('#editHierarchy').on('submit', function (event) {
            event.preventDefault(); 
            $.ajax({
                type: 'POST', 
                url: $(this).attr('action'), 
                data: $(this).serialize(), 
                success: function (response) {
                    $('#editHierarModal').modal('hide'); 
                    // Actualiza la lista de productos o realiza alguna acción adicional 
                }, 
                error: function(response) { 
                    // Maneja los errores 
                } 
            });
        });
    })
</script>
{% endblock scripts %}