<!-- Modal -->
<div class="modal fade" id="addHierarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="addHierarchy" action="{% url 'create-hierarchy' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Nueva Jerarquía</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for hierar in form_hierarchy %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ hierar.label_tag }}
                            {{ hierar }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">{{ title2 }}</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Modal Edit -->
<div class="modal fade" id="editHierarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="editHierarchy" action="{% url 'update-hierarchy' pk=0 %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar Jerarquía</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for hierar in form_hierarchy %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ hierar.label_tag }}
                            {{ hierar }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">{{ title }}</button>
                </div>
            </div>
        </div>
    </form>
</div>